@import './shared/_fonts.scss';
@import './_header.scss';
@import './_index.scss';

html, body {
    height:100%;
    width:100%;
    font-family: 'Montserrat', 'Helvetica' !important;
}

.customClassFromFile {
    color: blue;
}

.fromPage {
    font-size: 50px;
}

.self-typed {
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

.absolute {
    position: absolute;
}